---
# Message with no headers — msg_empty — triggers fallback defaults
http_interactions:
  - request:
      method: get
      uri: https://gmail.googleapis.com/gmail/v1/users/me/messages/msg_empty
      body:
        encoding: UTF-8
        string: ""
      headers:
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"id":"msg_empty","threadId":"thread_empty","labelIds":[],"snippet":"snippet","payload":{"mimeType":"text/plain","headers":[],"body":{"size":4,"data":"Ym9keQ=="}}}'
    recorded_at: "Fri, 20 Feb 2026 10:00:00 GMT"
recorded_with: VCR 6.3.1
