---
# POST modify — API returns message with no labelIds field (nil labels path)
http_interactions:
  - request:
      method: post
      uri: https://gmail.googleapis.com/gmail/v1/users/me/messages/msg_123/modify
      body:
        encoding: UTF-8
        string: '{"addLabelIds":["STARRED"],"removeLabelIds":[]}'
      headers:
        Content-Type:
          - application/json
    response:
      status:
        code: 200
        message: OK
      headers:
        Content-Type:
          - application/json; charset=UTF-8
      body:
        encoding: UTF-8
        string: '{"id":"msg_123","threadId":"thread_123"}'
    recorded_at: "Fri, 20 Feb 2026 10:00:00 GMT"
recorded_with: VCR 6.3.1
